
.champs {
    border-collapse: collapse;
}

.champs td {
    padding: 1px;
}

.champs img {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    opacity: 0.85;
}

img.active {
    border-color: yellow;
    opacity: 1.0;
}

/*
.champs img:hover {
    border-color: yellow;
    opacity: 1.0;
}
*/